@model ProjectManager.Models.Employee
@{
    ViewBag.Title = Model.Name;
}
<div class="row">
    <div class="col-md-12">
        <h1>Details:</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><b>Name:</b> @Model.Name</p>
        <p><b>Patronymic:</b> @Model.Patronymic</p>
        <p><b>Surname:</b> @Model.Surname</p>
        <p><b>Email:</b> @Model.Email</p>
        <p><b>Projects:</b></p>
        @if (Model.Projects != null && Model.Projects.Count != 0)
        {
            @foreach (var item in Model.Projects)
            {
                <p class="ml-5">@item.Name</p>
            }
        }
        else
        {
            <p class="ml-5">No projects</p>
        }
        <p><b>Tasks:</b></p>
        @if (Model.Tasks != null && Model.Tasks.Count != 0)
        {
            @foreach (var item in Model.Tasks)
            {
                <p class="ml-5"><a asp-controller="Task" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></p>
            }
        }
        else
        {
            <p class="ml-5">No projects</p>
        }
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" type="button" class="btn btn-success">Edit profile</a>
        <a asp-action="Delete" asp-controller="Employee" asp-route-id="@Model.Id" type="button" class="btn btn-danger">Delete</a>
    </div>
</div>