@model ProjectManager.ViewModels.ProjectCreationViewModel
@{
    ViewBag.Title = "Create a project";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create new project:</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-antiforgery="true" asp-action="Create" asp-controller="Project">
            <div class="form-group">
                <div class="validation" asp-validation-summary="All"></div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.Name"></label><br />
                <input class="form-control" asp-for="@Model.Project.Name" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.CompanyCustomer">Company Customer</label><br />
                <input class="form-control" asp-for="@Model.Project.CompanyCustomer" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.CompanyPerformer">Company Performer</label><br />
                <input class="form-control" asp-for="@Model.Project.CompanyPerformer" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.SelectedManager">Manager</label><br />
                <select class="form-control" asp-for="@Model.SelectedManager" asp-items='@new SelectList(Model.Managers, "Id", "Name", Model.SelectedManager)'>
                    <option value="" selected>None</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SelectedEmployes">Employes</label><br />
                <select  class="form-control" asp-for="@Model.SelectedEmployes" asp-items='@new MultiSelectList(Model.Employes, "Id", "Name", Model.SelectedEmployes)'></select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.StartDate">Start Date</label><br />
                <input class="form-control" asp-for="@Model.Project.StartDate" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.EndDate">End Date</label><br />
                <input class="form-control" asp-for="@Model.Project.EndDate" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.Priority"></label><br />
                <input class="form-control" asp-for="@Model.Project.Priority" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" />
            </div>
        </form>
    </div>
</div>

